*~
evaluation/project/target
evaluation/target
/paper/comment.cut
/paper/move-op.aux
/paper/move-op.bbl
/paper/move-op.blg
/paper/move-op.log
/paper/move-op.out
/paper/move-op.pdf
/paper/move-op.vtc
/paper/list-move.aux
/paper/list-move.bbl
/paper/list-move.blg
/paper/list-move.log
/paper/list-move.out
/paper/list-move.pdf
/paper/review-response.aux
/paper/review-response.log
/paper/review-response.out
/paper/review-response.pdf
/paper/review-response2.aux
/paper/review-response2.log
/paper/review-response2.out
/paper/review-response2.pdf
/output
/ancestor.ML
/generated.SML
/generated.ml
/generated.scala
